[submodule "site/plugins/kirby-minify-html"]
	path = site/plugins/kirby-minify-html
	url = https://github.com/afbora/kirby-minify-html.git
[submodule "site/plugins/colors"]
	path = site/plugins/colors
	url = https://github.com/hananils/kirby-colors.git
