// Variables
// BREAKPOINTS

// Antique
$bp-x-small: 350px; 
// Phone
$bp-small: 640px; 
// Tablet
$bp-medium: 780px; 
// Laptop
$bp-large: 1200px; 
// Desktop
$bp-x-large: 1400px; 
// Monitor

// Sass Breakpoint Mixin
@mixin breakpoint($point) {
   @if $point == x-small {
       @media (min-width: $bp-x-small)  { @content; }
   }
   @else if $point == small {
      @media (min-width: $bp-small) { @content; }
   }
   @else if $point == medium {
      @media (min-width: $bp-medium) { @content; }
   }
   @else if $point == large {
       @media (min-width: $bp-large) { @content; }
   }
   @else if $point == x-large {
      @media (min-width: $bp-x-large) { @content; }
   }
   @else if $point { // allows custom breakpoints
       @media (min-width: $point) { @content; }
   }
}