@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Recursive&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: #F8E7BB;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #F8E7BB;
  /* Gecko Browsers */
}

html {
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  background-color: #F3F2EF;
  color: rgba(0, 19, 77, 0.9);
}
@media (min-width: 600px) {
  html {
    font-size: 1.1em;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 1.2em;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 1.3em;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1.4em;
  }
}

body {
  font-family: "Crimson pro";
  margin: auto;
  max-width: 90%;
}

a {
  color: #00134D;
}

header {
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em 0;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin-left: 2em;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
header a {
  text-decoration: none;
}
header .logo {
  font-size: 1.5em;
}

main.blocks {
  margin: 8vw auto;
  max-width: 28em;
}
@media (min-width: 600px) {
  main.blocks {
    margin: 10vw auto;
  }
}
@media (min-width: 1200px) {
  main.blocks {
    margin: 8em auto;
  }
}
main.blocks a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgba(13, 103, 208, 0.4);
  text-decoration-thickness: 3px;
  text-underline-offset: 0.1em;
  text-decoration-skip: none;
  transition: all 0.25s;
}
main.blocks a:hover {
  background-color: rgba(13, 103, 208, 0.2);
}
main.blocks h1, main.blocks h2, main.blocks h3 {
  color: #00134D;
  font-family: "Crimson pro";
  margin-bottom: 0.3rem;
  margin-top: 1.4rem;
  line-height: 1;
}
main.blocks .loud {
  font-size: 3em;
}
main.blocks h1 {
  font-size: 1.5em;
  font-weight: 700;
}
main.blocks h2 {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-weight: 700;
  font-size: 1em;
}
main.blocks h3 {
  font-weight: 700;
  font-size: 1em;
}
main.blocks ul, main.blocks ol {
  padding-left: 2em;
}
main.blocks ul li, main.blocks ol li {
  margin-bottom: 0.15em;
}
main.blocks ul li p, main.blocks ol li p {
  margin-bottom: 0;
}
main.blocks code {
  font-size: 0.825em;
  background-color: rgba(0, 19, 77, 0.1);
  font-family: "Recursive";
  padding: 0.02em 0.25em;
  border-radius: 0.25em;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
main.blocks pre {
  background-color: rgba(0, 19, 77, 0.05);
  border: 1px solid rgba(0, 19, 77, 0.1);
  border-radius: 0.25em;
  padding: 0.5em;
}
main.blocks pre code {
  background-color: transparent;
}
main.blocks p, main.blocks ul, main.blocks ol, main.blocks pre, main.blocks hr {
  margin-bottom: 1.25em;
}
main.blocks hr {
  margin-top: 1em;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 19, 77, 0.25);
  border-bottom: 1px solid rgba(243, 242, 239, 0.25);
}
main.blocks figure {
  padding: 0;
  margin: 2em 0;
}
main.blocks figure img {
  width: 100%;
  margin: 0;
}
@media (min-width: 900px) {
  main.blocks figure.medium {
    position: relative;
    width: 75vw;
    max-width: 960px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 600px) {
  main.blocks figure.large {
    position: relative;
    width: 90vw;
    max-width: 1920px;
    left: 50%;
    transform: translateX(-50%);
  }
}
main.blocks figcaption {
  line-height: 1;
  font-size: 0.6em;
  color: rgba(0, 19, 77, 0.75);
  text-align: center;
  font-family: "Open Sans";
}

footer {
  padding: 2em 0;
}

/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+sass+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  /* This background color was intended by the author of this theme. */
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*# sourceMappingURL=screen.css.map */
